PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET="757e7fdd57b2143fb41f63314f6aa6e6"
GEMINI_API_KEY="qi0yp6WMWSmuZ2tzrA9IxB_sGB41cHjAgx-tBGxQ"
DATABASE_URL=your_postgres_connection_string_here
